body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

.tracker-header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

#add-expense {
    padding: 20px;
    margin-top: 20px;
    background-color: lightblue;
}

#your-expenses {
    padding: 20px;
    margin-top: 20px;
    background-color: lightgreen;
}

input {
    display: block;
    margin: 8px 0 15px 0;
    padding: 8px;
}
